.content{
    margin-left: 250px;
    height: 100%;
    padding: 1em;
    font-size: 10px !important;
    p-card{
        height: auto;
        p-table{
            display: block;
            position: relative;
        }
        // p-panel{
        //     .botones{
        //         padding: .5em 0;
        //         button{
        //             font-size: 11px;
        //             margin: 0em .5em;
        //             width: 80px;
        //         }
        //     }
        // }
    }
}
@media only screen and (max-width: 599px){
    .content{
      margin:0;
      width: 100%;
    }
  }
