<!-- <div id="mapa"></div> -->
<p-dialog header="Geolocalizacion" [closable]="false" [resizable]="false" [draggable]="false"
    [(visible)]="ventanaLocalizacion" showEffect="fade" [modal]="true" [style]="{width: '300px'}">
    <h4>Iniciar tracking a partir de su ubicacion...</h4>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 contenedorImagen">
            <div class="ui-dialog-buttonpane ui-helper-clearfix opcion">
                <button id="iniciar" type="button" pButton label="Iniciar" (click)="iniciar()"
                    style="font-size: 1em"></button>
            </div>
        </div>
    </div>
</p-dialog>
<div class="contMapa">
    <div id="mapa"></div>
    <div class="ui-inputgroup dispositivo" id="custom">
        <span class="ui-float-label">
            <p-dropdown [options]="estadosDispositivos" [showClear]="true" [(ngModel)]="dispositivo">
            </p-dropdown>
        </span>
    </div>
</div>
