<!-- <div class="contenido">
  <div class="cabecera">
    <app-header class="header"></app-header>
  </div>
  <div class="subcontenido">
    <div class="menu">
      <app-menu fxHide.xs class="menu"></app-menu>
    </div>
    <div class="detalle">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<div class="contenido">
  <app-header></app-header>
  <div class="sub">
    <div class="menu">
      <app-menu></app-menu>
    </div>
    <div class="derecho">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
